@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;1,300;1,400;1,500;1,600;1,900&display=swap');


@media (max-width: 768px) {
  .about-section .section-content {
    flex-direction: column;
    justify-content: center;
  }

}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #5a1a1a; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

body {
  padding-top: 80px; 
}


@media screen and (max-width: 900px){
    :root{
        --font-size-m: 1rem;
   --font-size-1: 1.3rem;
   --font-size-xl: 1.5rem;
   --font-size-xxl: 1.8rem;
    }
    .navbar .nav-menu{
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--primary-color);
    }
}

.navbar .nav-menu .nav-link{
    color:rgb(1, 0, 0);
    display: block;
    margin-top: 17px;
    font-size: var(--font-size-1);
}
*{
    font-family: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}
:root{

   --white-color:#fff;
   --dark-color: #252525;
   --primary-color: #6c313d;
   --secondary-color: #d58035;
   --light-pink-color: #faf4f5;
   --medium-gray-color:#ccc;

   --font-size-s:0.9rem;
   --font-size-n: 1rem;
   --font-size-m: 1.12rem;
   --font-size-1: 1.5rem;
   --font-size-xl: 2rem;
   --font-size-xxl: 2.3rem;
/* border radius*/
   --font-weight-normal:400;
   --font-weight-medium:500;
   --font-weight-semibold:600;
   --font-weight-bold:700;

   --border-radius-s: 8px;
   --border-radius-m: 30px;
   --border-radius-circle: 50%;

   --site-max-width:1300px;
}   

.navbar :where(#menu-close-button, #menu-open-button){
    font-size: var(--font-size-1);


}


.navbar #menu-close-button{
    position: absolute;
    right: 30px;
    top: 30px;
}

.navbar #menu-open-button{
    color: var(--white-color);
}

.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}




html{
    scroll-behavior: smooth;
}

ul{
    list-style:none;

}

a{
    text-decoration:none ;
}
button {
    cursor:pointer;
    border:none;
    background:none;
}

.main-image {
  animation: float 3s ease-in-out infinite;
  transition: transform 0.4s ease;
}

img{
    width:100%;
    max-width: 400px;
    height: auto;
}
.section-content{
    margin: 0 auto;
    padding:0 20px;
    max-width:var(--site-max-width); 
}
header{
    background: #6b1c29;
}

header .navbar{
    display:flex;
    padding:20px;
    align-items:center;
    justify-content:space-between;

}

.navbar .logo-text{
    color:var(--white-color);
    font-size:var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}
 
.navbar .nav-menu{
    display:flex;
    gap:10px;
}



.navbar .nav-menu .nav-link{
    padding:10px  18px;
    color:var(--white-color);
    font-size:var(--font-size-m);
    border-radius:70px ;
    transition:  0.8s ease, color 0.3s ease;
} 


.navbar .nav-menu .nav-link:hover{
     color:var(--primary-color);
     background: var(--secondary-color) ;
}

.main-section{
    min-height:100vh;
    background: #f3a460fb;
    transition: 1s ease-in-out;

}

.main-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: #410e05;
    justify-content:center;
    gap: 30px;

}

.main-section .main-details .title{
    font-size : var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver",sans-serif;
}
.main-section .main-details .subtitle{
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.main-section .main-details .description{
    max-width:70%;
    margin: 24px 0 40px;
    font-size:var(--font-size-m);
}
.main-section .main-details .buttons{
    display: flex;
    gap: 23px;

}
.main-section .main-details .button{
    padding: 10px 26px;
    border:2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: #f3861c ;
    color: rgb(99, 6, 6);
    font-weight: var(--font-weight-medium);
    transition: all 0.4s ease-in-out;
}
.main-section .main-details .button:hover{
    background: transparent;
    color: #fff;
    border-color: #f3961c;
}
.main-section .main-image-wrapper{
     width: 100%;
    max-width: 500px;
    height: auto;

}

.about-section{
    padding: 120px;
    background: var(--light-pink-color);
}

.about-section .about-details{
    flex: 1;
}

.about-section .section-content{
   display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    flex-direction: row; 
    flex-wrap: wrap;
}

.section-title{
    text-align: center;
    padding: 60px 0 100px;
    margin-bottom: 70px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}
.section-title::after{
    content:"";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);

}

.about-section .about-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section .about-details {
  flex: 1;
}

.about-section .about-image-wrapper .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
    flex: 1;
}
.about-section .about-image-wrapper .about-details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}
.about-selection .about-details .title{
    padding: 0;

}
.main-section .hero-details :is(.subtitle, .description), .about-section .about-details{
   max-width: 100%;
}
.about-selection .about-details .text{
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}
.social-link-list {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin: 10px 0;
}


.social-icons {
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 20px;
  display: flex;
  justify-content: flex-start; 
  width: 100%;
  padding-left: 40%; 
}

.social-link {
  color: #6c313d;
  font-size: 24px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-link:hover {
  color: #d58035;
  transform: scale(1.2);
}

.contact-section{
    padding: 50px 0 100px;
    background: var(--light-pink-color);

}

.contact-section .section-content{
    display:flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;

}

.contact-section .contact-info-list .contact-info{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;

}

.contact-section .contact-info-list .contact-info i{
    font-size: var(--font-size-m);
}

.contact-section .contact-form .form-input{
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background: var(--white-color);
    border-radius: var(--border-radius-s);
    border: 1px solid var(--medium-gray-color);
}
.contact-section .contact-form .form-input:focus{
    border-color: var(--secondary-color);
}
.contact-section .contact-form textarea.form-input{
    height: 100px;
    padding: 12px;
    resize: vertical;
}

.contact-section .contact-form .submit-button{
    padding: 10px 26px;
    margin-top: 10px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    background: var(--primary-color);
    border-radius: var(--border-radius-m);
    border: 1px solid var(--primary-color);
    transition: 0.3s ease;
}

.contact-section .contact-form .submit-button:hover{
    color: var(--primary-color);
    background: transparent;
}
.contact-section .section-content{
    align-items: center;
    flex-direction: column-reverse;
    max-width: 100%;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer-section{
    padding: 20px 0;
    background: var(--dark-color);
}
.footer-section :where(.copyright-text, .policy-link){
    color: var(--white-color);
    transition: 0.2s ease ;
}

.footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-section .social-link-list{
    display: flex;
    gap: 25px;
}
.footer-section .social-link-list .social-link{
    font-size: var(--font-size-1);
}